In [1]:
import pandas as pd

In [2]:
#Open All csv combined file to start manipulating for review
# open next CSV file for merge with cleaned file
cases_deaths_by_state = 'United_States_COVID-19_Cases_and_Deaths_by_State_over_Time (2).csv'
# read csv
cases_df = pd.read_csv(cases_deaths_by_state)
#view data
cases_df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,12/8/2020,NM,109947,NaN,NaN,0,0.0,1756,NaN,NaN,0,0.0,12/9/2020 14:45,NaN,Not agree
1,1/1/2021,FL,1300528,NaN,NaN,0,6063.0,21673,NaN,NaN,0,7.0,1/2/2021 14:50,Not agree,Not agree
2,4/30/2020,IA,7145,NaN,NaN,302,0.0,162,NaN,NaN,14,0.0,5/1/2020 21:00,Not agree,Not agree
3,6/25/2020,NE,18346,NaN,NaN,125,0.0,260,NaN,NaN,3,0.0,6/26/2020 19:18,Not agree,Not agree
4,2/24/2020,CA,10,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,3/26/2020 16:22,Not agree,Not agree

In [3]:
#dict for converting state abb to full name
us_state_abbrev = {'AL'   :  'Alabama',
                     'AK'  : 'Alaska',
                     'AZ'  : 'Arizona',
                     'AR'  : 'Arkansas',
                     'CA'  : 'California',
                     'CO'  : 'Colorado',
                     'CT'  : 'Connecticut',
                     'DE'  : 'Delaware',
                     'FL'  : 'Florida',
                     'GA'  : 'Georgia',
                     'HI'  : 'Hawaii',
                     'ID'  : 'Idaho',
                     'IL'  : 'Illinois',
                     'IN'  : 'Indiana',
                     'IA'  : 'Iowa',
                     'KS'  : 'Kansas',
                     'KY'  : 'Kentucky',
                     'LA'  : 'Louisiana',
                     'ME'  : 'Maine',
                     'MD'  : 'Maryland',
                     'MA'  : 'Massachusetts',
                     'MI'  : 'Michigan',
                     'MN'  : 'Minnesota',
                     'MS'  : 'Mississippi',
                     'MO'  : 'Missouri',
                     'MT'  : 'Montana',
                     'NE'  : 'Nebraska',
                     'NV'  : 'Nevada',
                     'NH'  : 'New Hampshire',
                     'NJ'  :  'New Jersey',
                     'NM'  :  'New Mexico',
                     'NY'  :  'New York',
                     'NC'  :  'North Carolina',
                     'ND'  :  'North Dakota',
                     'OH'  :  'Ohio',
                     'OK'  :  'Oklahoma',
                     'OR'  :  'Oregon',
                     'PA'  :  'Pennsylvania',
                     'RI'  :  'Rhode Island',
                     'SC'  :  'South Carolina',
                     'SD'  :  'South Dakota',
                     'TN'  :  'Tennessee',
                     'TX'  :  'Texas',
                     'UT'  :  'Utah',
                     'VT'  :  'Vermont',
                     'VI'  :  'Virgin Islands',
                     'VA'  :  'Virginia',
                     'WA'  :  'Washington',
                     'WV'  :  'West Virginia',
                     'WI'  :  'Wisconsin',
                     'WY'  :  'Wyoming'}

In [4]:
# rename state abbrev to full name
cases_df['state'] = cases_df['state'].map(us_state_abbrev)

In [5]:
#drop unneeded columns
cases_df = cases_df.drop(columns=['prob_cases', 'new_case', 'pnew_case', 'tot_death',
                               'conf_death', 'prob_death','new_death', 'pnew_death', 'created_at',
                                'consent_cases', 'consent_deaths', 'conf_cases'])

In [6]:
# # look at reports for 12/31 for 2020 totals
# cases_df = cases_df[cases_df['submission_date'] == '12/31/2020'] 
# # dropping blank state rowss row
# indexname= cases_df[cases_df['state']==''].index
# cases_df.drop(indexname, inplace =True)

In [7]:
cases_df.to_csv("Cleaned_Data/CASES.csv", index=False)
cases_df.head(55)

   submission_date           state  tot_cases
0        12/8/2020      New Mexico     109947
1         1/1/2021         Florida    1300528
2        4/30/2020            Iowa       7145
3        6/25/2020        Nebraska      18346
4        2/24/2020      California         10
5       11/14/2020        Virginia     201961
6        12/2/2020        New York     346492
7        1/23/2020         Wyoming          0
8         5/5/2020         Georgia      28196
9       11/15/2020      Washington     130040
10       1/29/2020   Massachusetts          0
11       8/14/2020     Mississippi      70930
12       5/16/2020             NaN          0
13       3/13/2020     Mississippi          1
14      12/10/2020         Wyoming      38223
15       7/29/2020          Nevada      46021
16       1/27/2021             NaN     592471
17       1/18/2021        Illinois    1072214
18      12/11/2020        Maryland     232009
19        8/6/2020     Mississippi      64400
20      11/12/2020         Georgia     416217
21       5/28/2020        Illinois     115833
22      11/21/2020            Iowa     207675
23      12/18/2020            Iowa     264758
24       5/21/2020        Colorado      23121
25       9/19/2020         Indiana     110759
26       11/9/2020           Texas    1038964
27       5/22/2020          Oregon       3864
28        2/8/2020          Oregon          0
29       1/28/2020  South Carolina          0
30      12/19/2020           Texas    1573888
31       9/13/2020     Mississippi      90018
32       9/22/2020             NaN      42660
33       4/21/2020         Alabama       5668
34       9/23/2020        Nebraska      42278
35       10/6/2020           Idaho      45082
36       8/20/2020       Louisiana     140821
37       5/27/2020       Wisconsin      16462
38       3/17/2020      New Mexico         23
39       3/11/2020        New York        164
40      12/29/2020           Texas    1715978
41      11/17/2020        Oklahoma     169762
42       1/12/2021            Iowa     298406
43        3/9/2020             NaN         17
44       1/11/2021    North Dakota      94968
45      12/24/2020    North Dakota      91222
46        4/3/2020    North Dakota        173
47       10/8/2020         Indiana     129677
48        1/5/2021             NaN     462668
49      12/23/2020            Ohio     644822
50      10/22/2020   West Virginia      21057
51       1/27/2021         Alabama     449086
52       3/30/2020    North Dakota        109
53       2/15/2020         Indiana          0
54       1/23/2021         Alabama     439442