In [1]:
%matplotlib notebook

In [2]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [3]:
# open dataframe to work with
# file path
csv = 'Cleaned_Data/Final.csv'
#read csv
plot_df = pd.read_csv(csv)
plot_df.head()

,State,Confirmed Cases,COVID Deaths,Population Density,Population,LandArea,Total Two Dose Regimen Moderna,Total Two Dose Regimen Pfizer,Combined Total Doses
0,Alabama,449086,7172,97.4270,4934190,50645,273100,227175,500275
1,Alaska,51603,250,1.2694,724357,570641,84700,62400,147100
2,Arizona,738561,12643,66.2016,7520100,113594,387100,323700,710800
3,Arkansas,288964,4742,58.3059,3033950,52035,165800,141375,307175
4,California,3169935,38224,254.2929,39613500,155779,2178600,1806675,3985275